@model CH06.Models.ASMT_User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ASMT_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager_lv01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager_lv01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
