@model CH06.Models.ASMT_User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASMT_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnBoardDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnBoardDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager_lv01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager_lv01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserEmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
